.payment-page {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: black; /* Set text color to black */
}

.navbar {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Align it to the top of the viewport */
  width: 100%; /* Ensure it spans the full width of the viewport */
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.page {
  padding-left: 30%;
  padding-top: 2%;
  color: black; /* Ensure page text is black */
}

.shipping-address {
  background-color: #fff;
  padding: 20px;
  margin-top: 10%;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black; /* Ensure text is black */
  margin-bottom: 20px;
  padding-top: 30px;
}

.shipping-address h3 {
  margin-top: 0;
  color: black; /* Ensure heading text is black */
}

.payment-method {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black; /* Ensure text is black */
  margin-top: 20px;
}

.payment-method label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black; /* Ensure label text is black */
}

.credit-card-details, .qr-code-details {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black; /* Ensure text is black */
}

.credit-card-details label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black; /* Ensure label text is black */
}

.credit-card-details input {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #065a60;
  box-shadow: 0 0 5px rgba(231, 118, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 10px;
}

button:hover {
  background-color: #5da3a8;
}

.qr-code-details p {
  margin: 0 0 10px;
  font-weight: bold;
  color: black; /* Ensure text is black */
}
